*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
/*utilities*/

.container{
    width: 80%;
    margin: 1 rem auto;

}

/*header*/
.site-init{
    background-color: rgba(249, 212, 45, 0.97);
    height: 50vh;
}
.menu-bar{
    display: flex;

}
.header-info{
    display: flex;
    justify-content: center;

}

.btn-register{
    
}

